<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>=== About & Guide ===</title>
</head>
<body>
<div class="about&guide" th:fragment="about-guidefrag">
    <div class="row">
        <div class="col-12 col-md-8">
            <h2 id="About">
                <div>
                    About
                </div>
            </h2>
            <p> 팀 프로젝트로 진행한 "수목 정보 관리 시스템"의 웹 서버 페이지입니다.
            Guide에 소개된 방법으로 측정된 수목 정보를 조회 및 관리 할 수 있습니다.
            </p>
            <ul>
                <li>김선재 , himuchik09@gmail.com </li>
                <li>성은지 , eunnjji@gmail.com </li>
            </ul>
            <p></p>
            <h2 id="Guide">
                <div>
                    Guide
                </div>
            </h2>
            <p>
                제공되는 메뉴는 다음과 같습니다.
            </p>
            <ul>
                <li>Home</li>
                <li>TreeList</li>
                <li>Search</li>
                <li>Download</li>
            </ul>
            <p></p>

        </div>
        <div class="col-6 col-md-4">
            <li class="toc-entry toc-h2">
                <a href="#About">About</a>
            </li>
            <li class="toc-entry toc-h2">
                <a href="#Guide">Guide</a>
            </li>
        </div>
    </div>
</div>
</body>
</html>