<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Map</title>
    <!--    ajax 통신 -->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <!--    <script>-->
    <!--        var treelist = []-->
    <!--        $.ajax({-->
    <!--           type:"GET",-->
    <!--           url:"/webfist/",-->
    <!--            success: (data) => {-->
    <!--               //console.log(data);-->
    <!--               treelist = data;-->
    <!--               $('#contents').html(data);-->
    <!--            }-->
    <!--        });-->
    <!--    </script>-->
<body>
map 출력
<!--<div id = "contents"></div>-->
</body>
</html>