<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SearchDay</title>
</head>
<body>
<div class="search-date" th:fragment="search-Date-frag">
        <form>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputYear">Year</label>
                    <input type="number" class="form-control form-control-lg" id="inputYear"
                           min="00" placeholder=" YY " maxlength="2" oninput="numlengthCheck(this)">
                </div>
                <div class="form-group col-md-4">
                    <label for="selectMonth">Month</label>
                    <select class="form-control form-control-lg" id="selectMonth">
                        <option selected value="00">선택하세요</option>
                        <option value="01">1</option>
                        <option value="02">2</option>
                        <option value="03">3</option>
                        <option value="04">4</option>
                        <option value="05">5</option>
                        <option value="06">6</option>
                        <option value="07">7</option>
                        <option value="08">8</option>
                        <option value="09">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputDay">Day</label>
                    <input type="number" class="form-control form-control-lg" id="inputDay"
                           min="00" max="31" placeholder=" 1 ~ 31 " maxlength="2"
                           oninput="numlengthCheck(this)">
                </div>
            </div>
            <button type="button" class="btn btn-primary" id="search-date-btn">Search</button>
        </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var y, m, d;

        $(document).ready(function () {
            $('#search-date-btn').click( function (){
                y = document.getElementById("inputYear").value;
                m = document.getElementById("selectMonth").value;
                d = document.getElementById("inputDay").value;

                if(y === ""){
                    y = "00";
                }else{
                    if(numCheck(y)){
                        if(y.length<2){
                            y = "0"+y;
                        }
                    }
                }

                if(d===""){
                    d="00";
                }else{
                    if(numCheck(d)){
                        if(d.length < 2){
                            d = "0"+d;
                        }
                    }
                }

                var keyword = y+m+d;
                location.href = "/webfist/search/date/" + keyword;
            });
        });

        // 숫자 유효성 검사 (정규식 이용)
        function numCheck(n){
            num = String(n).replace(/^\s+|\s+$/g, "");
            var regex = /^[0-9]$/g;
            if(regex.test(num)){
                num = num.replace(/,/g,"");
                var numresult = isNaN(num) ? false : true;
                return numresult;
            }else{ return false; }
        }

        //input tag의 type이 number 일때 maxlength 작동이 안되는 문제
        //oninput 속성 및 javascript 활용해 문제 해결
        function numlengthCheck(e){
         if(e.value.length > e.maxLength){
             e.value = e.value.slice(0,e.maxLength);
         }
        }

    </script>
</div>
<div class="search-place" th:fragment="search-Place-frag(treeList)">
    <script>let tArray = new Array(); let resultArr = new Array();</script>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle-split" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        id="toggleSearchName" > option </button>
                <div class="dropdown-menu" id="selectPlaceKeyword">
                    <a class="dropdown-item" href="#1">지역</a>
                    <a class="dropdown-item" href="#2">시</a>
                    <a class="dropdown-item" href="#3">동(면)</a>
                </div>
            </div>
        </div>
        <input type="text" class="form-control" id="inputPlaceKeyword"
               placeholder="형식에 맞게 입력해주세요. ex.시(도)->00 ,구 -> 00구, 동 -> 00동">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" id="search-place-btn">검색</button>
        </div>
    </div>
    <div th:each="tmp : ${treeList}">
        <script>
            name = "[[${tmp.tid}]]";
            l1 = parseFloat("[[${tmp.latitude}]]");
            l2 = parseFloat("[[${tmp.longitude}]]");
            tArray.push([name,l1,l2]);
        </script>
    </div>
    <div id="resultdiv">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=88ff6c3b6ab905ccc189478337342538&libraries=services"></script>
    <script  type="text/javascript" src="/js/searchlogic.js"></script>
    <script>

         $(document).ready(function (e){
            $('#selectPlaceKeyword').find('a').click(function (e){
               e.preventDefault();
               var cat = $(this).text();
               $('#toggleSearchName').text(cat);
            });

         });

    </script>
</div>
</body>
</html>